.chat-banner {
    position: fixed;
    top: 50px; /* Verschiebt das Banner 50px nach unten */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #2e2e2e; /* Hintergrundfarbe angepasst an Foundry VTT */
    color: #f0f0f0; /* Textfarbe angepasst an Foundry VTT */
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    z-index: 1000;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeInOut 10s ease-in-out; /* Dauer der Animation auf 10 Sekunden erhöht */
    text-align: center; /* Text zentrieren */
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}